<main class="container">
  <h1>Конфигуратор редуктора</h1>

  <div>
    <span>Условия эксплуатации</span>
    <select></select>
  </div>
  <br />
  <br />
  <div>
    <span>Модельный ряд оборудования</span>
    <select [(ngModel)]="reducerType" (ngModelChange)="send()">
      <option *ngFor="let item of this.items1" [value]="item['idReducerType']">
        {{ item["typeName"] }}
      </option>
    </select>
  </div>
  <hr />
  <div>
    <h2>Фильтр по эксплуатационным параметрам</h2>
    <label>Работа с преобразователем частоты</label>
    <input type="checkbox" id="ch" />
    <br />
    <br />
    <span>Частота вращения выходного вала [1/мин]</span>
    <input type="number" min="1" max="5" />
    +/-
    <input type="number" step="0.1" min="0" max="5" />
    <br />
    <br />
    <label>Радиальная нагрузка (OHL) [кН]</label>
    <input class="number" type="number" id="ch" />
    <br />
    <br />
    <label>Исполнение входного узла редуктора</label>
    <select>
      <option *ngFor="let item of this.items2">
        {{ item["inputNodeName"] }}
      </option>
    </select>
    <br />
    <br />
    <label>Коэффициент эксплуатации</label>
    <input class="number" type="number" id="ch" />
    <br />
    <br />
    <label>Мощность электродвигателя [кВт]</label>
    <input class="number" type="number" id="ch" />
    <br />
    <br />
    <label>Момент на выходном валу [Н∙м]</label>
    <input class="number" type="number" id="ch" />
    <br />
    <br />
    <label>Осевая нагрузка [кН]</label>
    <input class="number" type="number" id="ch" />
  </div>
  <hr />
  <div>
    <h2>Опции механической части</h2>
    Корпус редуктора
    <select>
      <option *ngFor="let item of this.items3">
        {{ item["gearboxVersionName"] }}
      </option>
    </select>
    <br />
    <br />
    Исполнение вала
    <select>
      <option *ngFor="let item of this.items4">
        {{ item["shaftVersionName"] }}
      </option>
    </select>
  </div>
  <br />
  <button>Искать</button>
</main>
