<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Configurator</title>
    <link rel="stylesheet" href="main.component.css">
    
</head>

<body>


<main class="container">
  
  <div class="product">
    <h1>Продукт</h1>
    <div class="product_block">
      <button class="product_choise" *ngFor="let product of product_variants" (click)="pickProduct(product)">
        {{ product }}
      </button>
    </div>
  </div>

  <div class="configurator" *ngIf="product_selected == product_enum.Motor">
    <h1>Конфигуратор двигателя</h1>
    <div class = "memberConfigurator">
      <span>Тип двигателя</span>
      <select [(ngModel)]="motor.type.value">
        <option disabled selected hidden></option>
        <option *ngFor="let value of motor.type.variants">
          {{value}}</option>
      </select>
    </div>

    <div class = "memberConfigurator" *ngIf="motor.type.value=='двигатель стандарта DIN'">
      <br />
      <span>Тип фланца</span>
      <select [(ngModel)]="motor.adapterType.value">
        <option disabled selected hidden></option>
        <option *ngFor="let value of motor.adapterType.variants">
          {{value}}</option>
      </select>
    </div>

    <br />
    <div class = "memberConfigurator">
      <span>Мощность</span>
      <input [(ngModel)]="motor.power" type="number" />
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Частота переменного тока Hz </span>
      <select [(ngModel)]="motor.frequency.value">
        <option disabled selected hidden></option>
        <option *ngFor="let value of motor.frequency.variants">
          {{value}}</option>
      </select>
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Число оборотов об/мин </span>
      <select [(ngModel)]="motor.rpm.value">
        <option disabled selected hidden></option>
        <option *ngFor="let value of motor.rpm.variants">
          {{value}}</option>
      </select>
    </div>
    <br />
    <hr />
  </div>




  <div class="configurator" *ngIf="product_selected == product_enum.Reducer">
    <h1>Конфигуратор редуктора</h1>
    <div class = "memberConfigurator">
      <span>Тип редуктора</span>
      <select [(ngModel)]="reducer.type.value">
        <option disabled selected hidden></option>
        <option *ngFor="let value of reducer.type.variants">
          {{value}}</option>
      </select>
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Размер редуктора</span>
      <select [(ngModel)]="reducer.size.value">
        <option disabled selected hidden></option>
        <option *ngFor="let value of reducer.size.variants">
          {{value}}</option>
      </select>
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Диаметр входного вала</span>
      <input [(ngModel)]="reducer.diameterInputShaft.value" type="number" />
      <span>+-</span>
      <input [(ngModel)]="reducer.diameterInputShaft.eps" type="number" />
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Диаметр выходного вала</span>
      <input [(ngModel)]="reducer.diameterOutputShaft.value" type="number" />
      <span>+-</span>
      <input [(ngModel)]="reducer.diameterOutputShaft.eps" type="number" />
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Тип входа</span>
      <select [(ngModel)]="reducer.inputType.value">
        <option disabled selected hidden></option>
        <option *ngFor="let value of reducer.inputType.variants">
          {{value}}</option>
      </select>
    </div>
    <br />
    <div class = "memberConfigurator" *ngIf="reducer.inputType.value=='Адаптер IEC'">
      <div>
        <span>Размер адаптера IEC</span>
        <select [(ngModel)]="reducer.adapterType.value">
          <option disabled selected hidden></option>
          <option *ngFor="let value of reducer.adapterType.variants">
            {{value}}</option>
        </select>

      </div>
      <br />
    </div>

    <div class = "memberConfigurator"> 
      <span>Форма выходного вала</span>
      <select [(ngModel)]="reducer.outputShaftType.value">
        <option disabled selected hidden></option>
        <option *ngFor="let value of reducer.outputShaftType.variants">
          {{value}}</option>
      </select>
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Крутящий момент</span>
      <input [(ngModel)]="reducer.torqueMoment" type="number" />
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Передаточное отношение</span>
      <input [(ngModel)]="reducer.iRatio" type="number" />
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Тип крепления редуктора</span>
      <select [(ngModel)]="reducer.installationType.value">
        <option disabled selected hidden></option>
        <option *ngFor="let value of reducer.installationType.variants">
          {{value}}</option>
      </select>
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Монтажное положение</span>
      <select [(ngModel)]="reducer.mounting.value">
        <option disabled selected hidden></option>
        <option *ngFor="let value of reducer.mounting.variants">
          {{value}}</option>
      </select>
    </div>
    <hr />
  </div>


  <div class="configurator" *ngIf="product_selected == product_enum.MotorReducer">
    <h1>Конфигуратор мотор-редуктора</h1>
    <div class = "memberConfigurator">
      <span>Тип редуктора</span>
      <select [(ngModel)]="motorReducer.type.value">
        <option disabled selected hidden></option>
        <option *ngFor="let value of reducer.type.variants">
          {{value}}</option>
      </select>
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Размер редуктора</span>
      <select [(ngModel)]="motorReducer.size.value">
        <option disabled selected hidden></option>
        <option *ngFor="let value of motorReducer.size.variants">
          {{value}}</option>
      </select>
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Диаметр выходного вала</span>
      <input [(ngModel)]="motorReducer.diameterOutputShaft.value" type="number" />
      <span>+-</span>
      <input [(ngModel)]="motorReducer.diameterOutputShaft.eps" type="number" />
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Форма выходного вала</span>
      <select [(ngModel)]="motorReducer.outputShaftType.value">
        <option disabled selected hidden></option>
        <option *ngFor="let value of motorReducer.outputShaftType.variants">
          {{value}}</option>
      </select>
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Мощность двигателя</span>
      <input [(ngModel)]="motorReducer.motorPower" type="number" />
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Крутящий момент</span>
      <input [(ngModel)]="motorReducer.torqueMoment" type="number" />
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Передаточное отношение</span>
      <input [(ngModel)]="motorReducer.iRatio" type="number" />
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Тип крепления редуктора</span>
      <select [(ngModel)]="motorReducer.installationType.value">
        <option disabled selected hidden></option>
        <option *ngFor="let value of motorReducer.installationType.variants">
          {{value}}</option>
      </select>
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Монтажное положение</span>
      <input [(ngModel)]="reducer.mounting" type="number" />
    </div>
    <br />
    <div class = "memberConfigurator">
      <span>Мощность</span>
      <input [(ngModel)]="motor.power" type="number" />
    </div>
  </div>

  <button *ngIf="product_selected != null" (click)="search()">Найти</button>
</main>

</body>