<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Configurator</title>
  <link rel="stylesheet" href="main.component.css">

</head>

<body>


  <main class="container">

    <div class="product">
      <h1>Продукт</h1>
      <div class="product_block">
        <button
          class="product_choise"
          *ngFor="let product of product_variants"
          [class.selected_product]="isSelectedProduct(product)"
          (click)="pickProduct(product)">
            {{ product }}
        </button>
      </div>
    </div>

    <div class="configurator" *ngIf="product_selected == product_enum.Motor">
      <app-engine></app-engine>
    </div>




    <div class="configurator" *ngIf="product_selected == product_enum.Reducer">
      <app-reductor></app-reductor>
    </div>


    <div class="configurator" *ngIf="product_selected == product_enum.MotorReducer">
      <app-engine-reductor></app-engine-reductor>
    </div>

    <!-- <button *ngIf="product_selected != null" (click)="search()">Найти</button> -->
  </main>

</body>
