

<!-- <br />
<hr /> -->
<div class="table-container">
  <div class="buttons">
    <button (click)="goToSearchPage(null)" style="margin-right: 50px; height: 45px;">Новый</button>
    <div>
      <input [(ngModel)]="this.searchData.number"    (ngModelChange)="onNumberChange($event)"  type="string" placeholder="Номер"  style="margin-right: 5px; border-radius: 5px; font-size: 24px; height: 40px; width: 200px;" />
      <input [(ngModel)]="this.searchManager.shortName" (ngModelChange)="onShortNameChange($event)" type="string" placeholder="Менеджер" style="margin-right: 5px; border-radius: 5px; font-size: 24px; height: 40px; width: 200px;" />
      <input [(ngModel)]="this.searchData.partner" (ngModelChange)="onPartnerChange($event)" type="string" placeholder="Контрагент" style="margin-right: 5px; border-radius: 5px; font-size: 24px; height: 40px; width: 200px;" />
      <!-- <input [(ngModel)]="this.searchData.marginRatio" (ngModelChange)="onMarginRatioChange($event)" type="number" min="0" placeholder="Маржа" style="margin-right: 5px; border-radius: 5px; font-size: 24px; height: 40px; width: 200px;"  (keypress)="preventNegative($event)" /> -->
      <input [(ngModel)]="this.searchData.timestamp" (ngModelChange)="onTimestampChange($event)" type="string" placeholder="xx.xx.xxxx" style="margin-right: 5px; border-radius: 5px; font-size: 24px; height: 40px; width: 200px;" />
    </div>
      <button (click)="searchProp(0)" style=" height: 45px;"> Найти </button>
      <button (click)="clearFilter()" style="margin-left: -5px; height: 45px; width: 150px; justify-content: center;"> Очистить </button>
  </div>
<table class="table" *ngIf="commercialProp_list !== null || commercialProp_list !== []">
  <thead>
    <tr *ngIf="commercialProp_list !== []">
        <!-- <th>id</th> -->
        <th>Номер</th>
        <th>Менеджер</th>
        <th>Контрагент</th>
        <th>Стоимость</th>
        <!-- <th>Маржа</th> -->
        <th>Дата создания</th>
        <th></th>
    </tr>
</thead>
  <tbody>
    <tr *ngFor="let commercial of commercialProp_list">
      <!-- <td>{{commercial.idCommercialProp}}</td> -->
      <td>{{commercial.number}}</td>
      <td>{{commercial.manager?.shortName}}</td>
      <td>{{commercial.partner}}</td>
      <td>{{commercial.cost}}</td>
      <!-- <td>{{commercial.marginRatio}}</td> -->
      <td>{{commercial.timestamp}}</td>
      <!-- <td>{{ commercial.manager.fullName}}</td>
      <td>{{ commercial.manager.position}}</td>
      <td>{{ commercial.manager.email}}</td>
      <td>{{ commercial.manager.phoneNumber}}</td> -->
      <td class="row-buttons">
        <button (click)="goToSearchPage(commercial.idCommercialProp)">Изменить</button>
        <!-- <button (click)="deleteCommercial(commercial.idCommercialProp)">Удалить</button> -->
        <button (click)="oKDelete(commercial.idCommercialProp, commercial.number)">Удалить</button>
        <button (click)="downloadExcel(commercial)" >Excel</button>
        <button (click)="downloadPdf(commercial)">PDF</button>
      </td>
    </tr>
  </tbody>
</table>
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="0"
    [rows]="20"
    [totalRecords]="totalCount">
  </p-paginator>
</div>

