* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  /* background-color: #ffff; */
  color: black;
  height: 90vh; /* Устанавливаем высоту меньше 100% */
  overflow-y: auto;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product {
  margin-bottom: 20px;
}

.product_block {
  display: flex;
  gap: 5%;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: center;
}

.product_choise {
  background-color: #fcb331;
  color: #ffffff;
  border: none;
  padding: 15px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.active {
background-color: #083b57;
}


.product_choise:hover {
  background-color: #083b57;
}

.containedata {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container_element_configurator {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.element_configurator {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 0 10px;
}

.element_configurator span {
  font-weight: bold;
}

input,
select {
  width: 100%;
  margin-top: 5px;
  height: 40px;
  font-size: 18px;
  border-radius:  5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

button {
  margin-top: 10px;
  cursor: pointer;
  height: 40px;
  width: 120px;
  background-color: #fcb331 ;
    color: white;
    border-radius: 5px;
    border: none;

}

button:hover {

  background-color: #1e587a ;

}

.amauntInpt{
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  align-items: center;
}

#callSearch {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.plusbt{
  background-color: white ;
  border: 1px solid black;
  height: 30px;
  color: black;
  margin-bottom: 10px;
  font-size: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.plusbt:hover{
  background-color: #1e587a;
}


.close-button {
  align-self: flex-end;
  font-size: 75px;
  color: white;
  cursor: pointer;

  &:hover {
    color: #fcb331;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;


  button {
    width: 15%;
    height: 40px;
    background-color: #083b57 ;
    color: white;
    border-radius: 5px;
  }
  button:hover {
    background-color: #1e587a ;
  }
}
