@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto';
    /*background-color: #f0f0f0;*/
    color: #000000;
    margin: 0;
    padding: 0;
}




.product {
    margin-bottom: 20px;
}

.product_block {
    display: flex;
    gap: 5%;
    margin-bottom: 20px;
    justify-content: center;
}

.product_choise {
    background-color: #fcb331;
    color: #ffffff;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.active {
  background-color: #083b57;
}


.product_choise:hover {
    background-color: #083b57;
}

select:focus, input[type="number"]:focus {
    border-color: #083b57;
    outline: none;
}

::selection {
    background-color: #fcb331;
    color: #ffffff;
}

.select {
  background-color: #083b57;
  color: #ffffff;
  outline: none;
}
.noselect {
  background-color: #fcb331;
  color: #ffffff;
}

button {
    width: 100px;
    height:50px;
    background-color: #083b57;
    /* #FCB331; */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

button:hover {
    background-color: #1e587a;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}


.active {
  background-color: #083b57;
}
