<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админка</title>
</head>

<body>

    <div class="container">
        <div class="sidebar">
            <span (click)="setid(0)">Motor</span>
            <span (click)="setid(1)">MotorType</span>
            <span (click)="setid(2)">MotorAdapterType</span>
            <span (click)="setid(3)">Product</span>
            <span (click)="setid(4)">ProductType</span>
            <span (click)="setid(5)">ProductOption</span>
            <span (click)="setid(6)">Reducer</span>
            <span (click)="setid(7)">ReducerType</span>
            <span (click)="setid(8)">ReducerSize</span>
            <span (click)="setid(9)">ReducerOutputShaft</span>
            <span (click)="setid(10)">ReducerMounting</span>
            <span (click)="setid(11)">ReducerInstallationType</span>
            <span (click)="setid(12)">ReducerInputType</span>
            <!-- <span (click)="setid(13)">ReducerAdapterType</span> -->
            <span (click)="setid(13)">Manager</span>
            <span (click)="setid(14)">PaymentTerms</span>
        </div>
        <div class="content">
            <div *ngIf="id==0">
                <div class="buttons">
                    <button (click)="addMotor()"> Новый </button>
                </div>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>adapterType</th>
                                <th>frequency</th>
                                <th>power</th>
                                <!-- <th>rpm</th> -->
                                <th>efficiency</th>
                                <th>ratedCurrent</th>
                                <!-- <th>posTerminalBox</th> -->
                                <!-- <th>momentOfInertia</th>
                                <th>cableExitSide</th> -->
                                <th>type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of motor_list">
                                <td>{{i.id}}</td>
                                <td><textarea class="editable" [(ngModel)]="i.adapterType.id"></textarea></td>
                                <td><textarea class="editable" [(ngModel)]="i.frequency.value"></textarea></td>
                                <td><textarea class="editable" [(ngModel)]="i.power"></textarea></td>
                                <!-- <td><textarea class="editable" [(ngModel)]="i.rpm.value"></textarea></td> -->
                                <td><textarea class="editable" [(ngModel)]="i.efficiency"></textarea></td>
                                <td><textarea class="editable" [(ngModel)]="i.ratedCurrent"></textarea></td>
                                <!-- <td><textarea class="editable" [(ngModel)]="i.posTerminalBox"></textarea></td> -->
                                <!-- <td><textarea class="editable" [(ngModel)]="i.momentOfInertia"></textarea></td>
                                <td><textarea class="editable" [(ngModel)]="i.cableExitSide"></textarea></td> -->
                                <td><textarea class="editable" [(ngModel)]="i.type.id"></textarea></td>
                                <td class="row-buttons">
                                    <button (click)="saveMotor(i)"> Сохранить </button>
                                    <!-- <button (click)="deleteMotor(i)"> Удалить </button> -->
                                    <button (click)="oKDelete(i.id,i)"> Удалить </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p-paginator
                      (onPageChange)="onPageChange($event)"
                      [first]="0"
                      [rows]="20"
                      [totalRecords]="totalCount">
                  </p-paginator>
                </div>
            </div>
            <div *ngIf="id==1">
                <div class=" buttons">
                    <button (click)="addMotorType()"> Новый </button>
                </div>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>motorTypeName</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of motorType_list">
                                <td>{{i.id}}</td>
                                <td><textarea class="editable" [(ngModel)]="i.value"></textarea></td>
                                <td class="row-buttons">
                                    <button (click)="saveMotorType(i)"> Сохранить </button>
                                    <!-- <button (click)="deleteMotorType(i)"> Удалить </button> -->
                                    <button (click)="oKDelete(i.id,i)"> Удалить </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="id==2">
                <div class="buttons">
                    <button (click)="addMotorAdapterType()"> Новый </button>
                </div>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>idMotorAdapterType</th>
                                <th>motorAdapterTypeValue</th>
                                <th>motorTypeId</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of motorAdapterType_list">
                                <td>{{i.id}}</td>
                                <td><textarea class="editable" [(ngModel)]="i.value"></textarea></td>
                                <td><textarea class="editable" [(ngModel)]="i.typeid"></textarea></td>
                                <td class="row-buttons">
                                    <button (click)="saveMotorAdapterType(i)"> Сохранить </button>
                                    <!-- <button (click)="deleteMotorAdapterType(i)"> Удалить </button> -->
                                    <button (click)="oKDelete(i.id,i)"> Удалить </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p-paginator
                      (onPageChange)="onPageChange($event)"
                      [first]="0"
                      [rows]="20"
                      [totalRecords]="totalCount">
                    </p-paginator>
                </div>
            </div>
            <div *ngIf="id==3">
                <div class="buttons">
                    <button (click)="addProduct()"> Новый </button>
                    <button (click)="goToDynamicAdd()" style="margin-right: 50px;" > Dynamic Save </button>
                    <input [(ngModel)]="this.searchData" type="string" style="margin-right: 10px; border-radius: 5px; font-size: 24px;" />
                    <button (click)="searchProductByName()"> Найти </button>
                </div>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>idProduct</th>
                                <th>ProductType id</th>
                                <th>name</th>
                                <th>weight</th>
                                <th>price</th>
                                <th>idReducer</th>
                                <th>Motor id</th>
                                <th>rpm</th>
                                <th>Torque Moment</th>
                                <th>Service Factor</th>
                                <th>options</th>
                                <th>image</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of product_list">
                                <td>{{i.id}}</td>
                                <td><input class="editable" [(ngModel)]="i.productTypeId"></td>
                                <td><input class="editable" [(ngModel)]="i.name"></td>
                                <td><input class="editable" [(ngModel)]="i.weight"></td>
                                <td><input class="editable" [(ngModel)]="i.price"></td>
                                <td><input class="editable" [(ngModel)]="i.reducerId"></td>
                                <td><input class="editable" [(ngModel)]="i.motorId"></td>
                                <td><input class="editable" [(ngModel)]="i.rpm"></td>
                                <td><input class="editable" [(ngModel)]="i.torqueMoment"></td>
                                <td><input class="editable" [(ngModel)]="i.serviceFactor"></td>
                                <td><input class="editable" [(ngModel)]="i.optionsString"></td>
                                <td  class="row-buttonstt" *ngIf="i.imageEmpty == true"><input type="file" #fileInput style="display: none" (change)="onFileSelected($event, i)">
                                  <button (click)="openFilePicker(fileInput)">Загрузить</button></td>
                                <td  class="row-buttonstt" *ngIf="i.imageEmpty == false"><button (click)="downloadImage(i.id, i.name)">Скачать</button> <button (click)="deleteImage(i)">Удалить</button> </td>
                                <td class="row-buttons">
                                    <button (click)="saveProduct(i)"> Сохранить </button>
                                    <!-- <button (click)="deleteProduct(i)"> Удалить </button> -->
                                    <button (click)="oKDelete(i.id,i)"> Удалить </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p-paginator
                      (onPageChange)="onPageChange($event)"
                      [first]="0"
                      [rows]="20"
                      [totalRecords]="totalCount">
                    </p-paginator>
                </div>
            </div>
            <div *ngIf="id==4">
                <!-- <div class="buttons">
                    <button (click)="addProductType()"> Новый </button>
                </div> -->
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>idProductType</th>
                                <th>productTypeValue</th>
                                <!-- <th></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of productType_list">
                                <td>{{i.id}}</td>
                                <!-- <td><input class="editable" [(ngModel)]="i.value"></td> -->
                                <td>{{i.value}}</td>
                                <!-- <td class="row-buttons">
                                    <button (click)="saveProductType(i)"> Сохранить </button>
                                    <button (click)="deleteProductType(i)"> Удалить </button>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="id==5">
                <div class="buttons">
                    <button (click)="addProductOption()"> Новый </button>
                </div>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>idProductOption</th>
                                <th>productOptionValue</th>
                                <th>productTypeId</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of productOption_list">
                                <td>{{i.idProductOption}}</td>
                                <td><input class="editable" [(ngModel)]="i.productOptionValue"></td>
                                <td><input class="editable" [(ngModel)]="i.productTypeId"></td>
                                <td class="row-buttons">
                                    <button (click)="saveProductOptions(i)"> Сохранить </button>
                                    <!-- <button (click)="deleteProductOption(i)"> Удалить </button> -->
                                    <button (click)="oKDelete(i.idProductOption,i)"> Удалить </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p-paginator
                      (onPageChange)="onPageChange($event)"
                      [first]="0"
                      [rows]="20"
                      [totalRecords]="totalCount">
                    </p-paginator>
                </div>
            </div>
            <div *ngIf="id==6">
                <div class="buttons">
                    <button (click)="addReducer()"> Новый </button>
                </div>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>TypeId</th>
                                <th>SizeId</th>
                                <th>Input TypeId</th>
                                <!-- <th>Adapter TypeId</th> -->
                                <th>OutputShaft TypeId</th>
                                <th>Installation TypeId</th>
                                <th>MountingId</th>
                                <!-- <th>ØInputShaft</th> -->
                                <th>ØOutputShaft</th>
                                <th>ratio</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of reducer_list">
                                <td>{{i.idReducer}}</td>
                                <td><input class="editable" [(ngModel)]="i.reducerTypeId"></td>
                                <td><input class="editable" [(ngModel)]="i.reducerSizeId"></td>
                                <td><input class="editable" [(ngModel)]="i.reducerInputTypeId"></td>
                                <!-- <td><input class="editable" [(ngModel)]="i.reducerAdapterTypeId"></td> -->
                                <td><input class="editable" [(ngModel)]="i.reducerOutputShaftTypeId"></td>
                                <td><input class="editable" [(ngModel)]="i.reducerInstallationTypeId"></td>
                                <td><input class="editable" [(ngModel)]="i.reducerMountingId"></td>
                                <!-- <td><input class="editable" [(ngModel)]="i.diameterInputShaft"></td> -->
                                <td><input class="editable" [(ngModel)]="i.diameterOutputShaft"></td>
                                <td><input class="editable" [(ngModel)]="i.ratio"></td>
                                <td class="row-buttons">
                                    <button (click)="saveReducer(i)"> Сохранить </button>
                                    <!-- <button (click)="deleteReducer(i)"> Удалить </button> -->
                                    <button (click)="oKDelete(i.idReducer,i)"> Удалить </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p-paginator
                      (onPageChange)="onPageChange($event)"
                      [first]="0"
                      [rows]="20"
                      [totalRecords]="totalCount">
                    </p-paginator>
                </div>
            </div>
            <div *ngIf="id==7">
                <div class="buttons">
                    <button (click)="addReducerType()"> Новый </button>
                </div>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>idReducerType</th>
                                <th>value</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of reducerType_list">
                                <td>{{i.idReducerType}}</td>
                                <td><input class="editable" [(ngModel)]="i.reducerTypeName"></td>
                                <td class="row-buttons">
                                    <button (click)="saveReducerType(i)"> Сохранить </button>
                                    <!-- <button (click)="deleteReducerType(i)"> Удалить </button> -->
                                    <button (click)="oKDelete(i.idReducerType,i)"> Удалить </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="id==8">
                <div class="buttons">
                    <button (click)="addReducerSize()"> Новый </button>
                </div>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>idReducerSize</th>
                                <th>value</th>
                                <th>reducerTypeId</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of reducerSize_list">
                                <td>{{i.idReducerSize}}</td>
                                <td><input class="editable" [(ngModel)]="i.reducerSizeValue"></td>
                                <td><input class="editable" [(ngModel)]="i.reducerTypeId"></td>
                                <td class="row-buttons">
                                    <button (click)="saveReducerSize(i)"> Сохранить </button>
                                    <!-- <button (click)="deleteReducerSize(i)"> Удалить </button> -->
                                    <button (click)="oKDelete(i.idReducerSize,i)"> Удалить </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p-paginator
                      (onPageChange)="onPageChange($event)"
                      [first]="0"
                      [rows]="20"
                      [totalRecords]="totalCount">
                    </p-paginator>
                </div>
            </div>
            <div *ngIf="id==9">
                <div class="buttons">
                    <button (click)="addReducerOutputShaft()"> Новый </button>
                </div>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>idReducerOutputShaftType</th>
                                <th>value</th>
                                <th>reducerTypeId</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of reducerOutput_list">
                                <td>{{i.idReducerOutputShaftType}}</td>
                                <td><input class="editable" [(ngModel)]="i.value"></td>
                                <td><input class="editable" [(ngModel)]="i.reducerTypeId"></td>
                                <td class="row-buttons">
                                    <button (click)="saveReducerOutputShaft(i)"> Сохранить </button>
                                    <!-- <button (click)="deleteReducerOutputShaft(i)"> Удалить </button> -->
                                    <button (click)="oKDelete(i.idReducerOutputShaftType,i)"> Удалить </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p-paginator
                      (onPageChange)="onPageChange($event)"
                      [first]="0"
                      [rows]="20"
                      [totalRecords]="totalCount">
                    </p-paginator>
                </div>
            </div>
            <div *ngIf="id==10">
                <div class="buttons">
                    <button (click)="addReducerMounting()"> Новый </button>
                </div>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>idReducerMounting</th>
                                <th>value</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of reducerMounting_list">
                                <td>{{i.idReducerMounting}}</td>
                                <td><input class="editable" [(ngModel)]="i.value"></td>
                                <td class="row-buttons">
                                    <button (click)="saveReducerMounting(i)"> Сохранить </button>
                                    <!-- <button (click)="deleteReducerMounting(i)"> Удалить </button> -->
                                    <button (click)="oKDelete(i.idReducerMounting,i)"> Удалить </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="id==11">
                <div class="buttons">
                    <button (click)="addReducerInstallationType()"> Новый </button>
                </div>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>idReducerInstallationType</th>
                                <th>value</th>
                                <th>reducerTypeId</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of reducerInstallationType_list">
                                <td>{{i.idReducerInstallationType}}</td>
                                <td><input class="editable" [(ngModel)]="i.value"></td>
                                <td><input class="editable" [(ngModel)]="i.reducerTypeId"></td>
                                <td class="row-buttons">
                                    <button (click)="saveReducerInstallationType(i)"> Сохранить </button>
                                    <!-- <button (click)="deleteReducerInstallationType(i)"> Удалить </button> -->
                                    <button (click)="oKDelete(i.idReducerInstallationType,i)"> Удалить </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p-paginator
                      (onPageChange)="onPageChange($event)"
                      [first]="0"
                      [rows]="20"
                      [totalRecords]="totalCount">
                    </p-paginator>
                </div>
            </div>
            <div *ngIf="id==12">
                <div class="buttons">
                    <button (click)="addReducerInputType()"> Новый </button>
                </div>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>idReducerInputType</th>
                                <th>value</th>
                                <th>reducerTypeId</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of reducerInputType_list">
                                <td>{{i.idReducerInputType}}</td>
                                <td><input class="editable" [(ngModel)]="i.value"></td>
                                <td><input class="editable" [(ngModel)]="i.reducerTypeId"></td>
                                <td class="row-buttons">
                                    <button (click)="saveReducerInputType(i)"> Сохранить </button>
                                    <!-- <button (click)="deleteReducerInputType(i)"> Удалить </button> -->
                                    <button (click)="oKDelete(i.idReducerInputType,i)"> Удалить </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p-paginator
                      (onPageChange)="onPageChange($event)"
                      [first]="0"
                      [rows]="20"
                      [totalRecords]="totalCount">
                    </p-paginator>
                </div>
            </div>
            <!-- <div *ngIf="id==13">
                <div class="buttons">
                    <button (click)="addReducerAdapterType()"> Новый </button>
                </div>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>idReducerAdapterType</th>
                                <th>value</th>
                                <th>reducerTypeId</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of reducerAdapterType_list">
                                <td>{{i.idReducerAdapterType}}</td>
                                <td><input class="editable" [(ngModel)]="i.value"></td>
                                <td><input class="editable" [(ngModel)]="i.reducerTypeId"></td>
                                <td class="row-buttons">
                                    <button (click)="saveReducerIAdapterType(i)"> Сохранить </button>
                                    <button (click)="deleteReducerAdapterType(i)"> Удалить </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->
            <div *ngIf="id==13">
              <div class="buttons">
                  <button (click)="addManager()"> Новый </button>
              </div>
              <div class="table-container">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>idManager</th>
                              <th>shortName</th>
                              <th>fullName</th>
                              <th>position</th>
                              <th>email</th>
                              <th>phoneNumber</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let i of manager_list">
                              <td>{{i.idManager}}</td>
                              <td><input class="editable" [(ngModel)]="i.shortName"></td>
                              <td><input class="editable" [(ngModel)]="i.fullName"></td>
                              <td><input class="editable" [(ngModel)]="i.position"></td>
                              <td><input class="editable" [(ngModel)]="i.email"></td>
                              <td><input class="editable" [(ngModel)]="i.phoneNumber"></td>
                              <td class="row-buttons">
                                  <button (click)="saveManager(i)"> Сохранить </button>
                                  <!-- <button (click)="deleteManager(i)"> Удалить </button> -->
                                  <button (click)="oKDelete(i.idManager,i)"> Удалить </button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <p-paginator
                    (onPageChange)="onPageChange($event)"
                    [first]="0"
                    [rows]="20"
                    [totalRecords]="totalCount">
                  </p-paginator>
              </div>
          </div>

          <div *ngIf="id==14">
            <div class="buttons">
                <button (click)="addPaymentTerm()"> Новый </button>
            </div>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>visibleName</th>
                            <th>fullName</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of paymentTerms_list">
                            <td>{{i.idPaymentTerms}}</td>
                            <td><input class="editable" [(ngModel)]="i.visibleName"></td>
                            <td><input class="editable" [(ngModel)]="i.fullName"></td>
                            <td class="row-buttons">
                                <button (click)="savePaymentTerm(i)"> Сохранить </button>
                                <!-- <button (click)="deleteManager(i)"> Удалить </button> -->
                                <button (click)="oKDelete(i.idPaymentTerms,i)"> Удалить </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>

</body>

</html>
