.container {
  max-width: 1200px;
  margin-top: -20px;
  padding: 20px;
  border-radius: 8px;
  background: none !important;
}

.outer-container {
  width: 100%;
  height: 60px;
  margin-top: 900px;
  background-color: rgba(171, 194, 204, 0.5);
  padding: 20px 0;
}

span {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

button {
  width: 150px;
  height: 50px;
  background-color: #083b57;
  color: #ffffff;
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 900;
  font-size: 14px;
}

button:hover {
  background-color: #083b57;
}
