<link rel="stylesheet" href="footercomponent.scss">

<!-- <div class="divider"></div> -->

<footer class="outer-container">
  <div class="container footer">
    <img class="footer__logo" ngSrc="./assets/header/vneshpromtorg_logo.png" alt="Логотип" height="1188" width="1558">
    <div class="footer__text">ООО «ВНЕШПРОМТОРГ»<br>г. Воронеж, Московский проспект, д. 26А/1, офис 3/1</div>
    <button class="footer__button">КОНСУЛЬТАЦИЯ</button>
    <div class="footer__text"><a href="mailto: office@extindtrade.com">officeextindtrade.com</a><br><a href="tel:8-495-568-02-21">8 (495) 568-02-21</a></div>
  </div>
</footer>
