<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Configurator</title>
  <link rel="stylesheet" href="add-product.component.css">

</head>

<body>


  <main class="containermain">

    <div class="product">
      <h1>Продукт</h1>
      <div class="close-button"
     (click)="close()"
     style="display: flex; top: -12px; right: 20px; font-size: 75px; color: #083b57; cursor: pointer;"
     onmouseover="this.style.color='#fcb331'"
     onmouseout="this.style.color='#083b57'">&times;</div>
     <div class="product_block">
        <button  [ngClass]="{ 'product_choise': true, 'active': selectedButton == productType.idProductType}" *ngFor="let productType of productTypes" (click)="pickProduct(productType.productTypeValue, productType.idProductType)">
          {{ productType.productTypeValue }}
        </button>
    </div>
  </div>

    <div class="configurator" *ngIf="product_selected == product_enum.Motor">
      <app-engine (dynamicProduct)="addProduct($event)" [idProductType]="idProductType" ></app-engine>

    </div>




    <div class="configurator" *ngIf="product_selected == product_enum.Reducer">
      <app-reductor (dynamicProduct)="addProduct($event)" [idProductType]="idProductType"></app-reductor>
    </div>


    <div class="configurator" *ngIf="product_selected == product_enum.MotorReducer">
      <app-engine-reductor (dynamicProduct)="addProduct($event)"  [idProductType]="idProductType"></app-engine-reductor>
    </div>

    <table class="table" *ngIf="newProductList !== null || newProductList !== []">
      <!-- *ngIf="foundProducts !== null && foundProducts.length > 0" -->
      <thead *ngIf="newProductList && newProductList.length > 0">
        <tr>
          <th>id</th>
          <th>idType</th>
          <th>name</th>
          <th>weight</th>
          <th>price</th>
          <th>idReducer</th>
          <th>idMotor</th>
          <th>rpm</th>
          <th>torqueMoment</th>
          <th>serviceFactor</th>
          <th>options</th>
          <th>image</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of newProductList">
        <td>{{ product.idProduct }}</td>
        <td>{{ product.productTypeId }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.weight }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.reducerId }}</td>
        <td>{{ product.motorId }}</td>
        <td>{{ product.rpm }}</td>
        <td>{{ product.torqueMoment }}</td>
        <td>{{ product.serviceFactor }}</td>
        <td>{{ product.optionsIds }}</td>
        <td class="tablebt">
          <ng-container *ngIf="product.imageEmpty; else downloadButton">
            <div>Нет чертежа</div>
          </ng-container>
          <ng-template #downloadButton>
            <div class="button-containerrr">
              <button class="custombutton" (click)="downloadImage(product.idProduct, product.name)">
                Скачать
              </button>
            </div>
          </ng-template>
        </td>


      </tr>
    </tbody>
    </table>
  </main>

</body>
