<p>engine-reductor works!</p>
<h1 class="configurator_header">Конфигуратор мотор-редуктора</h1>
      <div class="container_element_configurator">
        <div class="element_configurator">
          <span>Тип редуктора</span>
          <select [(ngModel)]="motorReducer.type.reducerTypeName">
            <option disabled selected hidden></option>
            <option *ngFor="let value of reducer.type.variants">
              {{value}}</option>
          </select>
        </div>
        <div class="element_configurator">
          <span>Размер редуктора</span>
          <select [(ngModel)]="motorReducer.size.reducerSizeValue">
            <option disabled selected hidden></option>
            <option *ngFor="let value of motorReducer.size.variants">
              {{value}}</option>
          </select>
        </div>
        <div class="element_configurator">
          <span>Форма выходного вала</span>
        <select [(ngModel)]="motorReducer.outputShaftType.value">
          <option disabled selected hidden></option>
          <option *ngFor="let value of motorReducer.outputShaftType.variants">
            {{value}}</option>
        </select>
        </div>
      </div>
      <br />
      <div class="container_element_configurator">
        <div class="rate_element_configurator">
          <div class="element_configurator">
            <span>Диаметр выходного вала</span>
            <input [(ngModel)]="motorReducer.diameterOutputShaft.value" type="number" />
          </div>
          <div class="element_configurator">
            <span class="rate_header">+-</span>
          </div>
          <div class="element_configurator">
            <input [(ngModel)]="motorReducer.diameterOutputShaft.eps" type="number" />
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="container_element_configurator">
        <div class="element_configurator">
          <span>Мощность двигателя</span>
          <input [(ngModel)]="motorReducer.motorPower" type="number" />
        </div>
        <div class="element_configurator">
          <span>Крутящий момент</span>
          <input [(ngModel)]="motorReducer.torqueMoment" type="number" />
        </div>
        <div class="element_configurator">
          <span>Передаточное отношение</span>
          <input [(ngModel)]="motorReducer.iRatio" type="number" />
        </div>
      </div>
      <br />
      <div class="container_element_configurator">
        <div class="element_configurator">
          <span>Тип крепления редуктора</span>
          <select [(ngModel)]="motorReducer.installationType.value">
            <option disabled selected hidden></option>
            <option *ngFor="let value of motorReducer.installationType.variants">
              {{value}}</option>
          </select>
        </div>
        <div class="element_configurator">
          <span>Монтажное положение</span>
          <input [(ngModel)]="reducer.mounting" type="number" />
        </div>
        <div class="element_configurator">
          <span>Мощность</span>
          <input [(ngModel)]="motor.power" type="number" />
        </div>
      </div>
      <br />
      <hr />
<button >Найти</button>
