<img ngSrc="./assets/header/cutlogo.png"class="header__logo" alt="logo" height="790"  priority  width="1558"/>

  <div class="dialog">
    <h2>Enter username and password</h2>


    <div *ngIf="errorMsg" class="error-message">{{ errorMsg }}</div>
    <div *ngIf="!errorMsg" class="error-message">&nbsp;&nbsp;&nbsp;&nbsp;</div>

    <form>
      <div class="input-container">
        <label>Username:</label>
        <input type="text" [(ngModel)]="loginDto.username" name="username" [ngModelOptions]="{standalone: true}" required>
      </div>
      <div class="input-container">
        <label>Password:</label>
        <div class="password-input">
          <input type="password" [(ngModel)]="loginDto.password" [type]="isPasswordVisible ? 'text' : 'password'" [ngModelOptions]="{standalone: true}" required>
          <button type="button" (click)="togglePasswordVisibility()">
            {{ isPasswordVisible ? 'Hide' : 'Show' }}
          </button>
        </div>
      </div>
      <div class="button-container">
        <button (click)="onLogin()" type="submit">Login</button>
      </div>
    </form>
  </div>
