

<!-- <br />
<hr /> -->
<div class="table-container">
  <div class="buttons">
    <button (click)="goToSearchPage(null)">Новый</button>
  </div>
<table class="table" *ngIf="commercialProp_list !== null || commercialProp_list !== []">
  <thead>
    <tr *ngIf="commercialProp_list !== []">
        <!-- <th>id</th> -->
        <th>number</th>
        <th>shortName</th>
        <th>partner</th>
        <th>cost</th>
        <th>marginRatio</th>
        <th>timestamp</th>
        <th></th>
    </tr>
</thead>
  <tbody>
    <tr *ngFor="let commercial of commercialProp_list">
      <!-- <td>{{commercial.idCommercialProp}}</td> -->
      <td>{{commercial.number}}</td>
      <td>{{commercial.manager?.shortName}}</td>
      <td>{{commercial.partner}}</td>
      <td>{{commercial.cost}}</td>
      <td>{{commercial.marginRatio}}</td>
      <td>{{commercial.timestamp}}</td>
      <!-- <td>{{ commercial.manager.fullName}}</td>
      <td>{{ commercial.manager.position}}</td>
      <td>{{ commercial.manager.email}}</td>
      <td>{{ commercial.manager.phoneNumber}}</td> -->
      <td class="row-buttons">
        <button (click)="goToSearchPage(commercial.idCommercialProp)">Изменить</button>
        <button (click)="deleteCommercial(commercial.idCommercialProp)">Удалить</button>
        <button (click)="downloadExcel(commercial.idCommercialProp)" >Excel</button>
      </td>
    </tr>
  </tbody>
</table>
</div>

