.configurator_header {
  display: flex;
  justify-content: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 90px;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  margin: 10px;
  margin-top: -100px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  border: 2px solid black;
}


.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 20px;


  button {
    width: 15%;
    height: 40px;
    background-color: #083b57 ;
    color: white;
    border-radius: 5px;
  }
  button:hover {
    background-color: #1e587a ;
  }
}
