<h1 class="configurator_header">Конфигурация двигателя</h1>
      <div class="container_element_configurator">
        <div class="element_configurator">
          <span>Тип двигателя</span>
          <select (change)="idMotorTypeSelected($event)">
            <option value="" disabled selected>Select</option>
            <option *ngFor="let type of motorType" [value]="type.motorTypeName">{{ type.motorTypeName }}</option>
          </select>
        </div>

        <div *ngIf="motorTypeId && motorTypeId == 2" class="element_configurator">
          <span>Тип Фланца</span>
          <select (change)="idMotorAdapterTypeSelected($event)">
            <option value="" disabled selected>Select</option>
            <option *ngFor="let type of engineAdapterTypeByMotorTypeId" [value]="type.motorAdapterTypeValue">{{ type.motorAdapterTypeValue }}</option>
          </select>
        </div>
        <div class="element_configurator">
          <span>Мощность</span>
          <input  min="0" [(ngModel)]="this.power"  type="number" />
        </div>
        <div class="element_configurator">
          <span>КПД</span>
          <input min="0" [(ngModel)]="this.efficiency"  type="number" />
        </div>
      </div>
      <br />
      <div class="container_element_configurator">
        <div class="element_configurator">
          <span>Текущий рейтинг</span>
          <input min="0" [(ngModel)]="this.ratedCurrent"  type="number" />
        </div>
        <div class="element_configurator">
          <span>Момент инерции</span>
          <input  min="0" [(ngModel)]="this.momentOfInertia"  type="number" />
        </div>
        <div class="element_configurator">
          <!-- <span>Частота переменного тока Hz </span>
          <select (change)="frequencySelected($event)">
            <option value="" disabled selected>Select</option>
            <option *ngFor="let value of frequencyArray" [value]="value">{{ value }}</option>
          </select> -->
          <span>Положение клеммной коробки</span>
          <select (change)="posTerminalSelected($event)">
            <option value="" disabled selected>Select</option>
            <option *ngFor="let value of posTerminalBoxArray" [value]="value">{{ value }}</option>
          </select>
        </div>
        <!-- <div class="element_configurator">
          <span>Число оборотов об/мин </span>
          <select (change)="rpmSelected($event)">
            <option value="" disabled selected>Select</option>
            <option *ngFor="let value of rpmArray" [value]="value">{{ value }}</option>
          </select>
        </div> -->
        <!-- <div class="element_configurator">
          <span>Частота</span>
          <input [(ngModel)]="this.rpm"  type="number" />
        </div> -->
        <div class="element_configurator">
          <span>Частота переменного тока Hz </span>
          <select (change)="frequencySelected($event)">
            <option value="" disabled selected>Select</option>
            <option *ngFor="let value of frequencyArray" [value]="value">{{ value }}</option>
          </select>
        </div>
      </div>
      <br />
      <div *ngFor="let option of productOption" class="custom-checkbox">
        <input type="checkbox" [id]="'checkbox_' + option.idProductOption" [value]="option.idProductOption" (change)="onCheckboxChange($event, option.idProductOption)">
        <label [for]="'checkbox_' + option.idProductOption">{{ option.productOptionValue }}</label>
      </div>

      <br />
      <hr />
      <h1 class="configurator_header">Конфигурация продукта</h1>
    <div class="container_element_configurator">
      <div class="element_configurator">
        <span>Наименование</span>
        <input [(ngModel)]="this.name"  type="text" />
      </div>
      <!-- <div class="element_configurator">
        <span>Частота</span>
        <input [(ngModel)]="this.rpm"  type="number" />
      </div> -->
      <div class="element_configurator">
        <span>Число оборотов об/мин </span>
        <select (change)="rpmSelected($event)">
          <option value="" disabled selected>Select</option>
          <option *ngFor="let value of rpmArray" [value]="value">{{ value }}</option>
        </select>
      </div>
    </div>
    <div class="container_element_configurator">
      <div class="element_configurator">
        <span>Цена</span>
        <input min="0" [(ngModel)]="this.price"  type="number" />
      </div>
      <div class="element_configurator">
        <span>Крутящий момент</span>
        <input min="0" [(ngModel)]="this.torqueMoment"  type="number" />
      </div>
      <div class="element_configurator">
        <span>Вес</span>
        <input  min="0" [(ngModel)]="this.weight"  type="number" />
      </div>
    </div>
    <br />
    <hr />
    <div class="element_configurator2">
      <input type="file" #fileInput (change)="onFileSelected($event)" style="cursor: pointer;">
    </div>
    <br />
    <hr />
<div class="button-container"><button (click)="dynamicAddProduct()">Создать</button></div>
<br />
<hr />
