<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Configurator</title>
    <link rel="stylesheet" href="header.component.css">
</head>


<header class="container header">
    <img ngSrc="./assets/header/vneshpromtorg_logo.png" class="header__logo" alt="Логотип" height="1188" width="1558">
   <div class="header__links">
     <ul>
       <li>
         <a href="https://vneshpromtorg.com/zakaz" target="_blank">Сделать заказ</a>
       </li>
       <li>
         <a href="https://vneshpromtorg.com/contacts" target="_blank">Контакты</a>
       </li>
     </ul>
   </div>
</header>
</html>
