<header class="container header">
    <img src="./assets/header/vneshpromtorg_logo.png" class="header__logo" alt="Логотип">
    <div class="header__links">
        <li>
            <img src="./assets/header/icons/icon-document.png" alt="" class="header__links-icon">
            <p>Контактное лицо</p>
        </li>
        <li>
            <img src="./assets/header/icons/icon-location.png" alt="" class="header__links-icon">
            <p>Где купить</p>
        </li>
        <li>
            <img src="./assets/header/icons/icon-world.png" alt="" class="header__links-icon">
            <p>Russian Federation | RU</p>
        </li>
    </div>
</header>


<div class="divider"></div>