<h1 class="configurator_header">Конфигуратор двигателя</h1>
      <div class="container_element_configurator">
        <div class="element_configurator">
          <span>Тип двигателя</span>
          <select (change)="idMotorTypeSelected($event)">
            <option value="Select"  selected>Select</option>
            <option *ngFor="let type of motorType" [value]="type.motorTypeName">{{ type.motorTypeName }}</option>
          </select>
        </div>

        <div *ngIf="motorTypeId && motorTypeId == 2" class="element_configurator">
          <span>Тип Фланца</span>
          <select (change)="idMotorAdapterTypeSelected($event)">
            <option value="Select"  selected>Select</option>
            <option *ngFor="let type of engineAdapterTypeByMotorTypeId" [value]="type.motorAdapterTypeValue">{{ type.motorAdapterTypeValue }}</option>
          </select>
        </div>
        <div class="element_configurator">
          <span>Мощность</span>
          <input min="0" [(ngModel)]="this.power"  type="number" (keypress)="preventNegative($event)"  />
        </div>
      </div>

      <br />
      <div class="container_element_configurator">
        <!-- <div class="element_configurator">
          <span>Положение клеммной коробки</span>
          <select (change)="frequencySelected($event)">
            <option value="Select"  selected>Select</option>
            <option *ngFor="let value of posTerminalBoxArray" [value]="value">{{ value }}</option>
          </select>
        </div> -->
        <!-- <div class="element_configurator">
          <span>Число оборотов об/мин </span>
          <select (change)="rpmSelected($event)">
            <option value="Select"  selected>Select</option>
            <option *ngFor="let value of rpmArray" [value]="value">{{ value }}</option>
          </select>
        </div> -->
        <div class="element_configurator">
          <span>Число оборотов об/мин </span>
          <input min="0" [(ngModel)]="this.rpm"  type="number" (keypress)="preventNegative($event)" />
        </div>
      </div>
      <br />
      <div *ngFor="let option of productOption" class="custom-checkbox">
        <input type="checkbox" [id]="'checkbox_' + option.idProductOption" [value]="option.idProductOption" (change)="onCheckboxChange($event, option.idProductOption)">
        <label [for]="'checkbox_' + option.idProductOption">{{ option.productOptionValue }}</label>
      </div>
      <br />
      <hr />
<div class="button-container"><button (click)="searchProduct(this.filter,0)">Найти</button></div>
<br />
<hr />
<div *ngIf="foundProducts && foundProducts.length > 0">
<table class="table" *ngIf="foundProducts !== null || foundProducts !== []">
  <thead *ngIf="foundProducts && foundProducts.length > 0">
    <tr>
        <!-- <th>id</th> -->
        <th>Наименование</th>
        <th>Мощность</th>
        <th>Об/мин</th>
        <!-- <th>Положение клеммной коробки</th> -->
        <th>Вес</th>
        <th></th>
    </tr>
</thead>
<tbody>
  <tr *ngFor="let product of foundProducts">
    <!-- <td>{{ product.idProduct }}</td> -->
    <td>{{ product.name }}</td>
    <td>{{ product.motor?.power || 0 }}</td>
    <td>{{ product.rpm || 0 }}</td>
    <!-- <td>{{ product.motor?.posTerminalBox || 0 }}</td> -->
    <td>{{ product.weight || 0 }}</td>
    <td class="tablebt">
      <!-- <ng-container *ngIf="product.imageEmpty; else downloadButton">
        <div>Нет чертежа</div>
      </ng-container> -->
      <!-- <ng-template #downloadButton> -->
        <!-- <ng-template> -->
        <div class="button-containerrr">
          <!-- <button class="custombutton" (click)="downloadImage(product.idProduct, product.name)">
            Скачать
          </button> -->
          <button class="custombutton" (click)="goSendEmail(product.name)">
            Подробнее
          </button>
        </div>
      <!-- </ng-template> -->
    </td>
  </tr>
</tbody>
</table>
<br />
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="0"
      [rows]="20"
      [totalRecords]="totalCount"/>
</div>
